# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
*.pkl

# Virtual environments
venv/
.venv/
env/

# PyTorch weights
*.pth

# Large Datasets and Downloads
data/*.csv
archive.zip

# Frontend generated charts
static/stock_chart.png

# OS metadata
.DS_Store
Thumbs.db
